.main {
    padding: 24px 28px;
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 60px;
}

@media (max-width: 900px) {
    .main {
        padding: 16px 16px;
        padding-bottom: 16px;
    }
}

@media (max-width: 640px) {
    .main {
        padding: 12px 12px;
        padding-bottom: 12px;
    }
}
